.header__toggle-text {
    color: white;
}

.bar-icon span {
    background-color: white;
}

.swiper-wrapper {
    align-items: center;
}

.banner-bg-three {
    background-image: url("/img/shape/d.png");
    background-position: top right;
    background-repeat: no-repeat;
}