.header__toggle-text {
    color: white;
}

.bar-icon span {
    background-color: white;
}

.swiper-wrapper {
    align-items: center;
}

.banner-bg-three {
    background-image: url("/img/shape/d.png");
    background-position: top right;
    background-repeat: no-repeat;
}

.touch__input textarea {
    width: 100%;
    height: 80px;
    background: #f9f9f9;
    border: 0;
    padding: 20px 20px;
    border-radius: 10px;
    color: black;
    outline: none;
}

.touch__input input {
    color: black;
}

.touch__input textarea::placeholder, .touch__input input::placeholder {
    color: #bababa;
}



.touch-bg:before {
    position: absolute;
    content: "";
    background: var(--clr-theme-4);
    height: 620px;
    z-index: -1;
    width: 100%;
    top: 0;
}

.succes-alert {
    background-color: #3887FE !important;
}

@media (max-width: 1000px) {
    .feedbacK__content-wrapper{
        margin-top: -20px!important;
    }
}